$aqua-green : #10c1a6;

.aqua-green-color {
	color: $aqua-green;
}

.aqua-green-background {
	background: $aqua-green;
}

.header-nav {
	border-bottom: 3px solid $aqua-green;
}

.custom-nav-item {
	padding: 15px 10px;
}

.custom-btn-item {
	padding: 10px 10px;
}

.react-redux-logo {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.col-centered {
	text-align: center;
	float: none;
	margin-right: auto;
	margin-left: auto;
	padding: 10px 0;
}

.sign-in-panel {
	border: 1px solid #ccc;
	width: 40%;
	
	.header {
		padding: 20px 0;
		color: black;
		background: #eee;
		border-bottom: 2px solid #ccc;
	}
	
	.sign-in-text {
		color: $aqua-green;
		font-weight: bold;
		font-size: 24px;
	}
	
	.footer {
		padding: 10px 0;
		
		.sign-in-btn {
			background: $aqua-green;
			color: white;
			font-weight: bold;
			padding: 10px 0;
		}
	}
}

.font-18 {
	font-size: 18px;
}

.font-26 {
	font-size: 26px;
}

.image-option {
	> div {
		display: inline-block;
	}
	.image-block {
		> img {
			width: 30px;
			height: 30px;
			border-radius: 30px;
			margin: 0 20px;
		}
	}
	
	.label-span {
		vertical-align: middle;
	}
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.text-centered {
	text-align: center;
}

.right-border {
	border-right: 1px solid #ccc;
}

.no-padding {
	padding: 0;
}

.half-tab {
	width: 49.75%;
	text-align: center;
	
	&.active {
		> a {
			background-color: #eee !important;
		}
	}
	
	> a {
		color: black !important;
	}
}

.question-table {
	padding: 5px;
	
	.author {
		background: #cdcdcd;
	}
	
	.question-summary {
		> div {
			padding: 10px 5px;
		}
	}
}

.width-25 {
	width: 25%;
}

.vertical-align {
	vertical-align: middle !important;
}

.light-grey-back {
	background: #eee;
}

.width-50 {
	width: 50%;
}

.width-75 {
	width: 75%;
}

.leaderboard {
	.user-detail {
		position: relative;
		padding: 10px;
		
		.username {
			font-size: 24px;
			position: absolute;
			top: 0;
			margin-top: 15px;
		}
		
		.score-detail {
			position: absolute;
			bottom: 0;
			margin-bottom: 20px;
			width: 90%;
		}
	}
}

.score-holder {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background: $aqua-green;
	color: white;
	font-weight: bold;
}

.user-holder {
	padding: 10px;
	//height: 100px;
	//width: 100px;
}

.home {
	width: 50%;
	border: 1px solid #ccc;
	
	.header {
		border-bottom: 1px solid #ccc;
		
		.btn {
			border: none !important;
		}
	}
	
	.holder-header {
		display: inline-block;
		
		> li {
			padding: 0 30px;
		}
	}
	
	.questions-holder {
		padding: 10px;
	}
}

.option-separator {
	width: 100%;
	height: 15px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	margin-bottom: 10px;
	
	.text {
		font-size: 18px;
		background: white;
		padding: 0 10px;
	}
}


.question-card {
	width: 60%;
	
	&.new-question {
		border: 1px solid #ccc;
		
		.row {
			padding: 5px;
		}
		
		hr {
			margin: 10px 0;
		}
		
		strong {
			padding-top: 10px;
		}
		
		.submit-btn {
			background: $aqua-green;
			color: white;
			font-weight: bold;
			padding: 10px 0;
		}
	}
	
	.question-summary {
		font-size: 16px;
		
		> div {
			padding: 8px;
		}
		
		.header {
			font-size: 20px;
			padding: 10px 0;
		}
		
		.submit-btn {
			background: $aqua-green;
			color: white;
			font-weight: bold;
			padding: 5px 0;
		}
		
		.result-choice {
			padding: 10px;
			margin-bottom: 10px;
			border: 1px solid #ccc;
			background: #f6f6f6;
			
			&.selected {
				background: #e7fdfa;
			}
			
			.col-centered {
				padding: 0 !important;
			}
			
			.custom-progress-bar {
				height: 30px !important;
				
				> .progress-bar {
					background: $aqua-green !important;;
					line-height: 30px !important;
				}
			}
		}
	}
}

#notfound {
	position: relative;
	height: 100vh;
}

#notfound .notfound {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.notfound {
	max-width: 520px;
	width: 100%;
	line-height: 1.4;
	text-align: center;
}

.notfound .notfound-404 {
	position: relative;
	height: 200px;
	margin: 0 auto 20px;
	z-index: -1;
}

.notfound .notfound-404 h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 236px;
	font-weight: 200;
	margin: 0;
	color: #211b19;
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	font-weight: 400;
	text-transform: uppercase;
	color: #211b19;
	background: #fff;
	padding: 10px 5px;
	margin: auto;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.notfound a {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	font-weight: 700;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	padding: 13px 23px;
	background: #ff6300;
	font-size: 18px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.notfound a:hover {
	color: #ff6300;
	background: #211b19;
}

@media only screen and (max-width: 767px) {
	.notfound .notfound-404 h1 {
		font-size: 148px;
	}
}

@media only screen and (max-width: 480px) {
	.notfound .notfound-404 {
		height: 148px;
		margin: 0 auto 10px;
	}
	.notfound .notfound-404 h1 {
		font-size: 86px;
	}
	.notfound .notfound-404 h2 {
		font-size: 16px;
	}
	.notfound a {
		padding: 7px 15px;
		font-size: 14px;
	}
}

#login-tabs {
	> .nav-pills {
		border: 1px solid #ccc;
	}
	
	> .tab-content {
		margin-top: 20px;
		
		.sign-up {
			> .row {
				margin-top: 10px;
				
				label {
					margin-top: 5px;
				}
			}
		}
	}
}

.img-tag {
	height: 200px;
	width: 200px;
	object-fit: cover;
}

.vertical-middle {
	vertical-align: middle !important;
}