$aqua-green : #10c1a6;

.aqua-green-color {
	color: $aqua-green;
}

.aqua-green-background {
	background: $aqua-green;
}

.header-nav {
	border-bottom: 3px solid $aqua-green;
}

.custom-nav-item {
	padding: 15px 10px;
}

.custom-btn-item {
	padding: 10px 10px;
}

.react-redux-logo {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.col-centered {
	text-align: center;
	float: none;
	margin-right: auto;
	margin-left: auto;
	padding: 10px 0;
}

.sign-in-panel {
	border: 1px solid #ccc;
	width: 40%;
	
	.header {
		padding: 20px 0;
		color: black;
		background: #eee;
		border-bottom: 2px solid #ccc;
	}
	
	.sign-in-text {
		color: $aqua-green;
		font-weight: bold;
		font-size: 24px;
	}
	
	.footer {
		padding: 10px 0;
		
		.sign-in-btn {
			background: $aqua-green;
			color: white;
			font-weight: bold;
			padding: 10px 0;
		}
	}
}

.font-18 {
	font-size: 18px;
}

.font-26 {
	font-size: 26px;
}

.image-option {
	> div {
		display: inline-block;
	}
	.image-block {
		> img {
			width: 30px;
			height: 30px;
			border-radius: 30px;
			margin: 0 20px;
		}
	}
	
	.label-span {
		vertical-align: middle;
	}
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.text-centered {
	text-align: center;
}

.right-border {
	border-right: 1px solid #ccc;
}

.no-padding {
	padding: 0;
}

.half-tab {
	width: 49.8%;
	text-align: center;
	
	&.active {
		> a {
			background-color: #eee !important;
		}
	}
	
	> a {
		color: black !important;
	}
}

.question-table {
	padding: 5px;
	
	.author {
		background: #cdcdcd;
	}
	
	.question-summary {
		> div {
			padding: 10px 5px;
		}
	}
}

.width-25 {
	width: 25%;
}

.width-75 {
	width: 75%;
}

.home {
	width: 50%;
	border: 1px solid #ccc;
	
	.header {
		border-bottom: 1px solid #ccc;
		
		.btn {
			border: none !important;
		}
	}
	
	.holder-header {
		display: inline-block;
		
		> li {
			padding: 0 30px;
		}
	}
	
	.questions-holder {
		padding: 10px;
	}
}

.option-separator {
	width: 100%;
	height: 15px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	margin-bottom: 10px;
	
	.text {
		font-size: 18px;
		background: white;
		padding: 0 10px;
	}
}


.question-card {
	width: 60%;
	
	&.new-question {
		border: 1px solid #ccc;
		
		.row {
			padding: 5px;
		}
		
		hr {
			margin: 10px 0;
		}
		
		strong {
			padding-top: 10px;
		}
		
		.submit-btn {
			background: $aqua-green;
			color: white;
			font-weight: bold;
			padding: 10px 0;
		}
	}
	
	.question-summary {
		font-size: 16px;
		
		> div {
			padding: 8px;
		}
		
		.header {
			font-size: 20px;
			padding: 10px 0;
		}
		
		.submit-btn {
			background: $aqua-green;
			color: white;
			font-weight: bold;
			padding: 5px 0;
		}
		
		.result-choice {
			padding: 10px;
			margin-bottom: 10px;
			border: 1px solid #ccc;
			background: #f6f6f6;
			
			&.selected {
				background: #e7fdfa;
			}
			
			.col-centered {
				padding: 0 !important;
			}
			
			.custom-progress-bar {
				height: 30px !important;
				
				> .progress-bar {
					background: $aqua-green !important;;
					line-height: 30px !important;
				}
			}
		}
	}
}